@import "../../global.less";

html, body {
  width: 100%;
  height: 100%;
}

@layout-item-width: 200px;
@layout-left-item-width: 250px;
@layout-right-item-width: 100px;
@layout-bar-width: 90px;
@layout-left-index: 80;
@layout-right-inedx: 80;
@layout-main-index: 60;
@layout-bar-index: 80;

.container {
  width: 100%;
  height: 100%;
}

.ct {
  min-width: @layout-item-width !important;
  height: 100%;
  &::after {
    .clear-float();
  }
}

.left {
  width: @layout-left-item-width;
  margin-left: -100%;
  z-index: @layout-left-index;
  border-right: @content-border;
}

.right {
  width: @layout-right-item-width;
  margin-left: -@layout-right-item-width;
  border-left: @content-border;
  z-index: @layout-right-inedx;
}

.main {
  width: 100%;
  z-index: @layout-main-index;
}

.content {
  position: relative;
  min-width: 400px;
  margin: 0 @layout-right-item-width 0 @layout-left-item-width;
  height: 100%;
}

.left, .right, .main {
  box-sizing: border-box;
  position: relative;
  float: left;
  height: 100%;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  color: #ffffff;
  padding: 0px !important;
  .display-flex(center, start);
}

.icon {
  width: 30px;
  height: 30px;
  .bg-img;
  margin-left: 15px;
}

.text {
  margin-left: 15px;
}

@sider-width: 68px;

.sider {
  width: @sider-width !important;
  min-width: @sider-width !important;
  max-width: @sider-width !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 @sider-width !important;
          flex: 0 0 @sider-width !important;
}

.bar {
  z-index: @layout-bar-index;
  top: 0;
  right: -@layout-bar-width;
  height: 100%;
  position: absolute;
  width: @layout-bar-width;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: @content-border;
  border-right: @content-border;
  .display-flex(center, start);
  .direction;
}

.smallCard {
  margin-top: 10px;
  width: @layout-bar-width - 20px;
  height: @layout-bar-width - 20px;
  border-radius: 4px;
  background: #cccccc;
  color: #ffffff;
  font-size: 10px;
  .display-flex(center, center);
  .direction;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;

  & > span {
    .count-px(80px, 70px, 30px);
    display: block;
    width: @count;
    height: @count;
    .bg-img;
    margin-bottom: 5px;
  }
}

.smallCard:hover {
  background: @theme-color;
}

.user {
  position: absolute;
  top: 0;
  right: 15px * 2;
}